.nav-bar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: radial-gradient(
    circle,
    rgba(63, 68, 251, 1) 0%,
    rgba(252, 70, 70, 1) 100%
  );
  z-index: 777;
  height: 35px;
  transition: 0.5s;
}

.nav-bar:hover {
  height: 45px;
}

.nav-bar:hover > * {
  height: 35px;
}

.nav-bar > img {
  border-radius: 50%;
  height: 23px;
  transition: 0.6s;
  margin-left: 12px;
}

.nav-bar:hover > img {
  height: 41px;
}

.style-chips {
  display: flex;
}
